		<!-- Header -->
			<header id="header">
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/genres">Genres</a></li>
						<li><a href="/charts">Charts</a></li>
						<li><a href="/submit">Submit</a></li>
						<li><a href="/members" class="tag">Group Members</a></li>
						<li><a href="#" class="icon fa-bell"></a></li>
					</ul>
				</nav>
			</header>
<br><hr>