		<!-- Header -->
			<header id="header">
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/genres">Genres</a></li>
						<li><a href="/artists">Artists</a></li>
						<li><a href="/submit">Submit</a></li>
						<li><a href="/members" class="tag">Group Members</a></li>
						<li><a href="/notifications" class="icon fa-bell-o"></a></li>
						{{!-- <li><a href="/notifications" class="icon fa-bell"></a></li> --}}
					</ul>
				</nav>
			</header>
<br><hr>