<section id="main" class="wrapper">
  <center>
    <div class="container">
      <h2>Album Name</h2>
      <div class="6u 12u$(xsmall)">
        <div class="image fit captioned">
          <img src="https://upload.wikimedia.org/wikipedia/en/8/85/Axiscover.jpg" alt="Filler Album"/>
          <h3>Released:
            <br>
            Genre:
            <br>
            Length:
            <br>
            Label:
            <br>
            Producer:
            </h3>
        </div>
      </div>
    </div>
  </center>
</section>