{{!-- <center> --}}
	<!-- Two -->
	<section id="two" class="wrapper style2 special">
		<div class="container">
			<header class="major">
				<h2>Genres</h2>
			</header>
			{{!-- <div class="row 150%"> --}}
				<div class="box alt">
					<div class="row 50% uniform">
						<div class="4u"><a href="genre/Pop"><span class="image fit"><img src="images/thriller.png" alt="Pop" /></span><h3>Pop</a></h3></div>
						<div class="4u"><a href="genre/Hip-Hop"><span class="image fit"><img src="images/illmatic.jpg" alt="Hip Hop" /></span><h3>Hip-Hop</a></h3></div>
						<div class="4u$"><a href="genre/Rock"><span class="image fit"><img src="images/iv.jpg" alt="Rock" /></span><h3>Rock</a></h3></div>
						<div class="4u"><a href="genre/Electronic"><span class="image fit"><img src="images/ram.jpg" alt="Electronic" /></span><h3>Electronic</a></h3></div>
						<div class="4u"><a href="genre/R&B"><span class="image fit"><img src="images/songsInTheKeyOfLife.jpg" alt="" /></span><h3>R&B</a></h3></div>
						<div class="4u$"><a href="genre/Country"><span class="image fit"><img src="images/folsomprison.jpg" alt="" /></span><h3>Country</a></h3></div>
						<div class="4u"><a href="genre/Alternative"><span class="image fit"><img src="images/okComputer.jpg" alt="" /></span><h3>Alternative</a></h3></div>
						<div class="4u"><a href="genre/Metal"><span class="image fit"><img src="images/paranoid.jpg" alt="" /></span><h3>Metal</a></h3></div>
						<div class="4u$"><a href="genre/Jazz"><span class="image fit"><img src="images/kindofblue.jpg" alt="" /></span><h3>Jazz</a></h3></div>
						<div class="4u"><a href="genre/Folk"><span class="image fit"><img src="images/blondeOnBlonde.jpg" alt="" /></span><h3>Folk</h3></a></div>
						<div class="4u"><a href="genre/Blues"><span class="image fit"><img src="images/texasFlood.jpg" alt="" /></span><h3>Blues</h3></a></div>
						<div class="4u$"><a href="genre/Soul"><span class="image fit"><img src="images/whatsGoingOn.jpg" alt="" /></span><h3>Soul</h3></a></div>
						<div class="4u"><a href="genre/Classical"><span class="image fit"><img src="images/beethoven.jpg" alt="" /></span><h3>Classical</h3></a></div>
						<div class="4u"><a href="genre/Funk"><span class="image fit"><img src="images/1999.jpg" alt="" /></span><h3>Funk</h3></a></div>
						<div class="4u$"><a href="genre/Punk"><span class="image fit"><img src="images/londonCalling.jpg" alt="" /></span><h3>Punk</h3></a></div>
					</div>
				</div>
			{{!-- </div> --}}
		</div>
	</section>
	{{!-- <ul>

	{{#each genres}}

		<li><a href="genre/{{this}}">{{this}}</a></li>

	{{/each}}

	</ul> --}}
{{!-- </center> --}}