<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>Meet our team</h2>
							<p>Feugiat sed lorem ipsum magna</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="images/darkside.png" alt="" /></div>
								<div class="content">
									<header>
										<h4>Albert</h4>
										<p>What is the internet?</p>
									</header>
									<p>
										Albert is a programmer who doesn't really know what he's doing and definitly does not
										steal other people's CSS templates.
										When he's not smashing his head against a debugger, he enjoys spending his free time writing pointless bios that no one will read.
									</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/perri_img.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Perri</h4>
										<p>Just chilling</p>
									</header>
									<p>Spent 38.395 minutes listing to spotify according to my 2019 year in review.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="https://upload.wikimedia.org/wikipedia/en/e/e4/Death_of_a_Bachelor.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Tsipora</h4>
										<p>I'm not as think as you drunk I am</p>
									</header>
									<p>Tsipora is a senior computer science major...life's kinda boring...nothing to say here</p>
								</div>
							</div>
						</div>
					</div>
				</section>
