<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>Meet our team</h2>
							<p>Feugiat sed lorem ipsum magna</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="images/darkside.png" alt="" /></div>
								<div class="content">
									<header>
										<h4>Albert</h4>
										<p>What is the internet?</p>
									</header>
									<p>
										Albert is a programmer who doesn't really know what he's doing and definitly does not
										steal other people's CSS templates.
										When he's not smashing his head against a debugger, he enjoys spending his free time writing pointless bios that no one will read.
									</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic05.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Perri</h4>
										<p>Ratione maiores a, commodi</p>
									</header>
									<p>Animi mollitia optio culpa expedita. Dolorem alias minima culpa repellat. Dolores, fuga maiores ut obcaecati blanditiis, at aperiam doloremque.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic06.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Tsipora</h4>
										<p>Possimus ex reprehenderit eaque</p>
									</header>
									<p>Maiores iusto inventore fugit architecto est iste expedita commodi sed, quasi feugiat nam neque mollitia vitae omnis, ea natus facere.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
