<section id="two" class="wrapper style2 special">
    <div class="container">
        <header class="major">
            <h2>Help grow our community!</h2>
            <p>All of our album information and reviews come from people like you! <br> Help us grow by making a contribution.</p>
        </header>
        <div class="row 150%">
            <div class="6u 12u$(xsmall)">
                <div class="image fit captioned">
                    <img src="/images/pic08.jpg" alt="" />
                    <h3><a href="/submit_review">Submit a review</a></h3>
                </div>
            </div>
            <div class="6u$ 12u$(xsmall)">
                <div class="image fit captioned">
                    <img src="images/pic09.jpg" alt="" />
                    <h3><a href="/submit_album">Submit a new album</a></h3>
                </div>
            </div>
        </div>

    </div>
</section>
